.body {
  padding: 1rem;
  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 1rem 0;
    color: #262626;
  }

  .tile {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    .avatar {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: red;
    }
    h5 {
      font-weight: 600;
      font-size: 1.4rem;
      color: #262626;
    }
    h4 {
      font-weight: 400;
      font-size: 1.4rem;
      color: #262626;
    }
    span {
      font-weight: 400;
      font-size: 1.4rem;
      color: #8e8e8e;
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}
