@import "../../assets/sass/main.scss";

.loaderContainer {
  height: 80vh;
  display: flex;
  align-content: center;
  justify-content: center;

  .loader {
    > div {
      height: 3rem !important;
      width: 3rem !important;
      border-color: $github-3 transparent transparent transparent !important;
    }
  }
}

.container {
  padding: 1rem;
}
