@import "../../assets/sass/abstracts/variables";
.kaInputContainer {
  &.whiteBordered {
    // background: $primaryGradientHover;
    // display: inline-block;
    // padding: 1px;
    // border-radius: 10px;
  }
  textarea {
    resize: none;
  }
  .kaInput {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #808080;
    margin-bottom: 8px;
    padding: 10px 10px;
    width: 100%;


    &.transparent {
      background: transparent;
    }
    &.white,
    &.whiteBordered,
    &.whiteWithGreyBorder {
      background: $color-white;
    }

    &.grey {
      // background: $input;
    }

    &.whiteWithGreyBorder {
      // border: 1px solid #dadce0;
    }

    &::placeholder {
      color: #808080;
    }

    &:focus {
      border: 1px solid #808080;
      outline: none;
    }

    &.small {
      // height: 36px;
      // padding: 10px 13px;
      // font-size: 0.9rem;

      // &::placeholder {
      //   font-size: 0.9rem;
      // }
    }
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  width: auto;
}
